.parent {
    display: flex;
    flex-flow: nowrap row;
}

.children {
    flex: 1;
    flex-basis: 0;
    max-width: 100%;
}



/*
flex 1属性详解  1 1 0%

是flex-grow  、 flex-shrink、 flex-basis的复合值

flex-grow: 用来指定扩展比率，即剩余空间是正值时此「flex子项」相对于「flex容器」里其他「flex子项」能分配到空间比例。
在「flex」属性中该值如果被省略则默认为「0」

flex-shrink: 用来指定收缩比率，即剩余空间是负值时此「flex子项」相对于「flex容器」里其他「flex子项」能收缩的空间比例。
在收缩的时候收缩比率会以伸缩基准值加权  在「flex」属性中该值如果被省略则默认为「1」

flex-basis :

用来指定伸缩基准值，即在根据伸缩比率计算出剩余空间的分布之前，「flex子项」长度的起始数值。
在「flex」属性中该值如果被省略则默认为「0%」
在「flex」属性中该值如果被指定为「auto」，则伸缩基准值的计算值是自身的 <' width '> 设置，如果自身的宽度没有定义，则长度取决于内容。

flex : none;   其实代表的值是 0 0 auto

 */
